* {
  padding: 5px;
  display: flexbox;

}

@media (max-width: 728px){
 body{
  font-size: 14px;
  display: flexbox;
}

body {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 1px;
  padding: 50px;  
  border: 100px solid #1A1A1A;
  background: #1A1A1A;
  display:flexboz;
 
}

.container {
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0 4px 16px rgb(0, 0, 0) ;
  padding: 15px;
  font-size: medium;
  display: flexbox;
}

.card {
  background: #1A1A1A;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 16px rgb(0, 0, 0) ;
  padding: 15px;
  font-size: medium;
  margin: 5px;
  display: flexbox;
}


header {
  background-color: #1A1A1A;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  text-shadow: #ffffff;
  border-radius: 50px; 
  font-style:italic ;
  font-size: larger;
  margin-top: 5px;
  box-shadow: 0 4px 16px rgb(0, 0, 0) ;
  display: flexbox;
}

header:hover {
  transition: all 0.5s ease;
  border-style: outset;
  background-color:#20b2aa ;
  box-shadow: 0 4px 16px rgb(255, 255, 255) ;

}


h1, h2, h4 {
text-decoration:dashed;
font-family: 'Times New Roman', Times, serif;
}

h3 {
  text-decoration:dashed;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}

p {
font-family: 'Times New Roman', Times, serif;
font-style: normal;
line-height: 1cm;
text-align: center;
}

mark {
  background-color:  #047adba2;
  color: #ffffff;
  border-radius: 5px;
  }

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

ul li {
  font-size: medium;
}

ul li:hover {
  font-size: 20px;
}

img {
  border: 8px;
  border-radius: 20px;
  width: 300px;
  }

img:hover {
box-shadow: 0 4px 16px rgb(255, 255, 255);
text-align: center;
transition: transform 2.1s ease;
transform: scale(1.1);
}

@keyframes mover {
 from {transform: translateX(0);}
 to {transform: translateX(300px);}
}
 
video {
  border-radius: 20px;
  width: 300px;
}

button {
  color: #000000;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  display: flexbox;
}

.button {
  text-align: center;
  color: #000000;
  padding: 5px;
  background-color:  #ffffff;
  border-radius: 50px;
  background: #1A1A1A;
}


button:hover {
  transition: all 0.5s ease;
  border-style: outset;
  box-shadow: 0 4px 16px rgb(0, 0, 0) ;
  padding: 15px;
  background-color:  #047adba2;
  box-shadow: 0 4px 16px rgb(0, 0, 0) ;

}


ul li {
  text-align: center;

}

main {
  padding: 10px;
}

section {
  margin-bottom: 20px;
  border-radius: 10px;
  display: flexbox;
}

div {
  padding: 20px;
  border-radius: 10px;
  margin: 6px;
  display: flexbox;
}

.div00 {
  color: #063f8ad3;
  border-radius: 50px;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  border-style: double;
  width: auto;
  height: auto;
  box-shadow: 0 4px 16px rgb(255, 255, 255) ;
}

.div001 {
  background-color: #2a8acf;
  font-size: 20px;
  border-radius: 30px;
  text-align: center;
  border-color: white;
  border-style: double;
  transform: scale(1.05);
  transition: all 0.5s ease;
  box-shadow: 0 4px 16px rgb(255, 255, 255) ;
}

.div01:hover, .div02:hover, .div04:hover, .div05:hover, .div06:hover, .div07:hover, .div08:hover, .div10:hover {
  background-color: #20b2aa;
  font-size: 20px;
  border-radius: 30px;
  text-align: center;
  border-color: white;
  border-style: double;
  transform: scale(1.05);
  transition: all 0.5s ease;
  box-shadow: 0 4px 16px rgb(255, 255, 255) ;
}

.div03:hover {
  padding: 10px;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 20px;
  color: #000000;
  text-align: center;
  border-style: outset;
  transform: scale(1.10);
  transition: all 0.5s ease;
  box-shadow: 0 4px 16px rgb(255, 255, 255) ;
}

.div09 {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 10px;
  color: #000000;
  text-align: center;
  border-style: outset;
  box-shadow: 0 4px 16px rgb(255, 255, 255) ;
}

.div10 {
  font-size: 15px;
  text-align: center;
  border-radius: 30px;
  transform: scale(1.05);
  transition: all 0.5s ease;
  box-shadow: 0 4px 16px rgb(0, 0, 0) ;
  margin: 20px;
  }

.arrow-down {
  font-size: 30px;
}

table {
  padding: 10px;
  border: 2px solid #ffffff;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 20px;
  text-align: center;
  position: inherit;
}

footer {
  font-style:italic ;
  color: #ffffff;
  text-align: center;
  padding: 0.5px;
  position: relative;
  bottom: 0;
  width: 100%;
  border-radius: 50px;
  margin: 10px;
  box-shadow: 0 4px 16px rgb(0, 0, 0) ;
  display: flexbox;
}

footer:hover {
  font-style:italic ;
  border-style: outset;
  background-color:#20b2aa ;
  box-shadow: 0 4px 16px rgb(255, 255, 255) ;
  }